<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :upload %>
    <%= form.file_field :upload, id: :store_upload %>
  </div>


    <% if @parent == "FileManager" %>
      <%= form.hidden_field :folderType, :value => 'FileManager'%>
     <% else %>
     <div class="field">
     <label> Upload To</label> 
       <%= form.select :folderType, [ 'Builder','FileManager','IDE','SnippetManager' ] %>
      </div>
     <% end %>


    <% if @parent == "FileManager" %>
     <%= form.hidden_field :folder_id, :value => @folderId%>
     <% end %>



  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
