<p id="notice"><%= notice %></p>

<h1>All files</h1>


<table class="table table-hover table-striped">
      <thead>
        <tr class="sortable">
          <th><input type="checkbox" value="" ng-model="FM.selectAll"></th>
          <th>Type</th>
          <th>Name</th>
          <th>Size</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
      <tr class="sortable" ng-repeat="file in FM.curFiles | orderBy:'folder'">
        <td><input type="checkbox" value="{{file.name}}" ng-model="file.selected"></td>
        <td> Folder </td>
        <td >
        <%= link_to 'Builder', select_folder_path(:type => "Builder") %>
        </td>
        <td></td>
        <td></td>
      </tr>
      

            <tr class="sortable" ng-repeat="file in FM.curFiles | orderBy:'folder'">
        <td><input type="checkbox" value="{{file.name}}" ng-model="file.selected"></td>
        <td> Folder </td>
        <td >
         <%= link_to 'File Manager',                             select_folder_path(:type => "FileManager") %>
        </td>
        <td></td>
        <td></td>
      </tr>

        <tr class="sortable" ng-repeat="file in FM.curFiles | orderBy:'folder'">
        <td><input type="checkbox" value="{{file.name}}" ng-model="file.selected"></td>
        <td> Folder </td>

        <td >
        <%= link_to 'IDE', select_folder_path(:type => "IDE") %>
        	
        </td>
        <td></td>
        <td></td>
      </tr>
            <tr class="sortable" ng-repeat="file in FM.curFiles | orderBy:'folder'">
        <td><input type="checkbox" value="{{file.name}}" ng-model="file.selected"></td>
        <td> Folder </td>
        <td >
        <%= link_to 'SnippetManager', select_folder_path(:type => "SnippetManager") %>
        	
        </td>
        <td></td>
        <td></td>
      </tr>


        
      </tr>
      

      </tbody>
    </table>
    




