<p id="notice"><%= notice %></p>

<i>You are currently using <%= @quota %> bytes

 <br>
You are left with  <%= current_user.membership.totalQuota - @quota %> bytes
</i>
<hr />



<h1>All files</h1>


<%= link_to 'Folder1', select_folder_path(:type => "Folder1") %>
<%= link_to 'Folder2', select_folder_path(:type => "Folder2") %>
<%= link_to 'Folder3', select_folder_path(:type => "Folder3") %>
<%= link_to 'Folder4', select_folder_path(:type => "Folder4") %>



<%= link_to 'Upload New File', new_store_path %>

