<table class="table table-hover table-striped">
      <thead>
        <tr class="sortable">
      <th>File</th>
      <th>Size</th>
      <th>Uploaded to</th>
      <th>Permissions</th>
       
       <th class="text-center"> <td> Actions </td></th>

        </tr>
        </thead>

        <tbody>
    <% @user_shares.each do |share| %>
      <tr>
        <td><%=  File.basename(share.store.upload.path) %>
         </td>
        <td><%= share.store.upload.size %> bytes</td>
        <td><%= share.store.folderType %></td>
        <td><%= share.permission %></td>


        <th>
      
       <% if share.permission.include? "X" %>
         <td>
          <a href="<%= share.store.upload %>" download> download </a>
         </td>
         <td>
         
        <%= link_to "Share File", open_share_modal_path(store_id: share.store.id), remote: true %>
        </td>
      
        <% end %>

        

        <% if share.permission.include? "R" or share.permission.include? "W"  or share.permission.include? "X"%>
          <td><%= link_to 'Show', share.store %></td>
        <% end %>
        
        <% if share.permission.include? "W" %>
           <td><%= link_to 'Edit', edit_store_path(share.store) %></td>
        <% end %>
        
       <% if share.permission.include? "L" %>
        <td><%= link_to 'Destroy', share.store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

        </th>


      </tr>
    <% end %>
  </tbody>
</table>

<div class="open_share_model">
  <%= render partial: "open_share_modal" %>
</div>
