<!DOCTYPE html>
<html>
  <head>
    <title>CodehelperWip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if user_signed_in? %>
  <b>
   <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
   <hr />        
    <br />
   Current User -  <%= current_user.name %>

     <br />

     You are a  <%=current_user.membership.memberType %>  member 
    <% end %>
    <hr />
    </b>

  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>


    <%= yield %>
  </body>
</html>
